#WebGL{
    height: 80%;
}
#BarraLateral{
    height: 100%;
    float:left;
} 
#BarraInferior{
    height: 20%;
}
#popup{
    margin: auto;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: solid 1px #331;
    background: #ffffd0;
    display: none;
    id: 0;
}
#popupCena{
    margin: auto;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: solid 1px #331;
    background: #ffffd0;
    display: none;
    id: 0;
}