#WebGL{
    height: 80%;
}
#BarraLateral{
    height: 100%;
    float:left;
} 
#BarraInferior{
    height: 20%;
}
#popup{
    margin: auto;
    width: 220px;
    height: 140px;
    padding: 20px;
    border: solid 1px #331;
    background: #00FF66;
    display: none;
    vertical-align: top; 
}
#popupCena{
    margin: auto;
    width: 220px;
    height: 140px;
    padding: 20px;
    border: solid 1px #331;
    background: #1E90FF;
    display: none;
    vertical-align: top;
    id: 0;
}
#popupBarra{
    margin: auto;
    width: 220px;
    height: 140px;
    padding: 20px;
    border: solid 1px #331;
    background: #F22326;
    display: none;
    vertical-align: top;
}
#popupPonto{
    margin: auto;
    width: 220px;
    height: 140px;
    padding: 20px;
    border: solid 1px #331;
    background: #F9FF26;
    display: none;
    vertical-align: top;   
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
    margin-top:5%;
}

.vcenter {
    position: relative;
    vertical-align: middle;
    margin-top:1%;
}

p{
    color:black;
}